@model FMS.Models.EfModels.Geofence

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Geofence</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeofenceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeofenceType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrockColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrockColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrockOpacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrockOpacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrockWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrockWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FillColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FillColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FillOpacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FillOpacity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GeofenceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
