@model IEnumerable<FMS.Models.EfModels.RouteHistory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RouteHistoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleDirection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Epoch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RouteHistoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleDirection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Epoch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.VehicleId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VehicleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VehicleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VehicleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
